* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 0 9px;
}

.container__item {
  width: 100%;
  max-width: 1200px;
  background-color: #161b22;
  border-radius: 5px;
  padding: 14px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.466);
}
.container__title {
  width: 100%;
  height: 50px;
  background-color: #0d1117;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
}

.container__title h1 {
  color: #ffffff87;
}

.container__input {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid #c7c4c47e;
  background-color: #131c29;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 0 5px;
}

.container__input input {
  width: 100%;
  background-color: rgba(0, 255, 255, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.678);
  color: rgba(219, 219, 219, 0.863);
  font-size: 0.8rem;
  padding-left: 4px;
  height: 30px;
}

.container__input input:focus {
  outline: none;
}

.btn {
  width: 90px;
  height: 40px;
  color: rgb(255, 255, 255);
  background-color: #0e131b;
  border-radius: 4px;
  border: 1px solid rgba(0, 31, 131, 0.514);
  transition: 0.3s;
  font-size: 0.9rem;
  font-weight: 600;
}

.btn:hover {
  width: 90px;
  height: 40px;
  color: #ffffff;
  background-color: #0d131b;
  border-radius: 4px;
  border: 1px solid rgba(1, 14, 56, 0.514);
}

.container__list {
  width: 100%;
  height: 100%;
  max-width: 800px;
  background-color: #0f151d;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.4s;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.label__item {
  padding: 5px 10px;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #1b232e;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  color: rgba(212, 205, 205, 0.911);
  transition: 0.4s;
  font-size: 0.8rem;
}

.list__text {
  font-size: .8rem;
  text-align: left;
  font-weight: 300;
  width: 85%;
}

#check:checked + .list__text {
  text-decoration: line-through;
  color: #a0f7cbda;
}

#check {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 500px) {
  .list__text {
    font-size: 1rem;
    width: 70%;
  }

  .container__input input {
    width: 300px;
  }
}

.verifica {
  width: 0;
  height: 120px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  text-align: center;
  color: #000000;
  overflow: hidden;
  transition: 0.2s;
}
.botoes {
  width: 100%;
  height: 40px;
  background-color: #120561;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  border-radius: 4px;
  padding: 7px;
  color: #ffffff;
}

/* =====media screen======= */
